<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="message" class="alert alert-warning alert-dismissible hidden" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>

    </div>
    <div class="col-md-12">
      
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mymodal">New Post</button>

    </div>
  </div>

  <div class="row" id="container_posts">
    <%=render @posts%>
  </div>
</div>

<!---Model for new post-->
<%= form_for(@post, remote: true) do |p| %>

  <div id="mymodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create new post</h4>
      </div>
       <div class="modal-body">
       <div class="field">
            <%= p.label :title %><br>
            <%= p.text_field :title, class: "form-control post_title" %>
        </div>
        <div class="field">
            <%= p.label :content %><br>
            <%= p.text_area :content, class: "form-control post_content" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Create", class: "btn btn-primary" %>
      </div>
      
    </div>
  </div>
</div>
  
<% end %>

